
<div class="model">
    <div class="space"></div>
   <div class="img-content">
    <img src="../../assets/images/delete logo.svg" alt="delete">
    <h4>Log Out</h4>
   </div>
    <p >Are tou sure you want to log out ?</p>
    <div class="center">
        <button   mat-button mat-dialog-close class="cancel-button"  >Cancel</button>
        <button type="submit" mat-button mat-dialog-close="true" cdkFocusInitial  class="save-button" (click)="onLogout()" color="primary">Confirm</button>
      </div>
    <div>

    </div>
</div>